@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<_Zannat_Mirza__Lab3.Models.Movie>

<!DOCTYPE html>
<html>
<head>
    <title>Movies</title>
</head>
<body>
    <h2>All Movies</h2>
    <div>
        <form asp-action="FilterMovies" method="get">
            <div>
                <label for="genre">Genre:</label>
                <select id="genre" name="genre">
                    <option value="">All</option>
                    <option value="Action">Action</option>
                    <option value="Sci-Fi">Sci-Fi</option>
                    <option value="Crime">Crime</option>
                
                </select>
            </div>
            <div>
                <label for="minRating">Minimum Rating:</label>
                <input type="number" id="minRating" name="minRating" min="0" max="10" step="0.1">
            </div>
            <button type="submit">Filter</button>
        </form>
    </div>
    <div class="movie-container">
        @foreach (var movie in Model)
        {
            <div class="movie">
                <h3 class="movie-title">@movie.Title</h3>
                <p class="movie-genre">Genre: @movie.Genre</p>
                <p class="movie-release">Release Date: @movie.ReleaseDate</p>
                <p class="movie-rating">Rating: @movie.AverageRating</p>

                <video controls>
                    <source src="@movie.PreSignedUrl" type="video/mp4">
                    Your browser does not support the video tag.
                </video>

                <button class="btn">Edit </button>
                <!-- Delete button form -->
                <form asp-action="DeleteMovie" method="post" style="display:inline;">
                    <input type="hidden" name="movieId" value="@movie.MovieID" />
                    <button type="submit" class="btn">Delete</button>
                </form>
               
            </div>
        }
        <div>
            <p>
                Contribute to our website by uploading lastest movies<button class="btn">Upload </button>
                </p>
            </div>
        
    </div>
</body>
</html>


